#projects {
    height: 150vh;
    overflow: hidden;
}
.projects_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.swiper_container{
    width: 90%;
    margin: 0;
    border-radius: 1rem;
}
.projects_item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.projects_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}
.projects_item h3 {
    margin: 1.2rem 0 2rem;
}
.projects_item_image {
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}
.projects_item_cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
/* Media Queries Medium Devices*/
@media screen and (max-width:1024px)
{
    .projects_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    .projects_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}