header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA Section */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Socials Section */
.header_socials {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

/* Scroll Down Section */
.header_scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Media Queries Medium Devices*/
@media screen and (max-width: 1024px) {
  header {
    height: 90vh;
  }
}

/* Media Queries Small Devices*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .header_scroll_down {
    display: none;
  }
}
